body {
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #212121;
}

.hidden {
    display: none !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.truncate {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    width: 150px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: #ffffff;
    font-size: 16px;
    background-color: #009688;
    text-transform: uppercase;
}

button:hover {
    background-color: #00796B;
}

button:active {
    background-color: #00695d;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    resize: none;
    outline: none;
}

/* NOTIFICATION */

div.notification {
    z-index:2;
    display: table;
    position: absolute;
    width: 300px;
    height: 50px;
    bottom: 0;
    right: 0;
    background-color: #009688;
    margin: 12px;
    background-color: rgba(255,64,129, 0.7);
    border-radius: 10px;
    font-size: 14px;
    transform: background-color 0.5s ease-in-out;
}

div.notification-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    color: white;
}

/* MODALS */

div.modal-container {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(75,75,75,0.3);
}

div.modal {
    z-index: 3;
    position: fixed;
    top: 50%;
    left:50%;
    margin-left: -250px;
    margin-top: -150px;
    width: 500px;
    height: 300px;
    padding: 12px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #607D8B;
}

div.modal-header {
    display: block;
}

span.modal-title {
    display: block;
    padding: 6px 0px;
    font-size: 24px;
    color: #455A64;
    text-transform: uppercase;
}

div.modal-button {
    display: block;
}

div.modal-error {
    text-align: center;
    color: #009688;
    font-size: 14px;
    font-style: italic;
}

select.modal-select {
    width: 100%;
}

span.modal-close {
    color: #009688;
}

div#modal-move .modal {
    height: 150px;
    margin-top: -75px;
}

/** CREATE FILTER MODAL **/
div.modal-create-filter-option {
    display: flex;
    width: 100%;
    margin: 5px 0px;
}

input.modal-create-filter-label {
    position: relative;
    margin: 0px 10px 0px 5px;
    bottom: -5px;
}

input.modal-create-filter-entry {
    flex: 3;
    font-size: 16px;
    height: 24px;
    margin-left: 10px;
}

button.button-submit-filter {
    margin-top: 12px;
}

/* FOLDER PANEL */

div#folder-panel {
    position: relative;
    padding: 10px;
    color: #CFD8DC;
    background-color: #607D8B;
    height: 100%;
}

/* FOLDER PANEL ICONS */

div.folder-panel-icons {
    height: 50px;
    text-align: right;
}

i.folder-panel-icon {
    padding: 15px 5px;
    color: #ffffff;
}

i.folder-panel-icon:hover {
    color: #009688;
}

i.folder-panel-icon:active{
    color: #00796B;
}

i.folder-panel-icon.disabled {
    color: #bdbdbd;
}

i.folder-panel-icon.disabled:hover {
    color: #bdbdbd;
}

i.folder-panel-icon.disabled:active {
    color: #bdbdbd;
}

/* FOLDER PANEL LISTS */

div.folder-panel-list-title {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    text-transform: uppercase;
}

div.folder-panel-list-items {
    margin-left: 25px;
    padding-right: 10px;
}

div.folder-panel-list-item {
    padding: 2px 0px;
    cursor:pointer;
}

div.folder-panel-list-item:hover {
    color: #ffffff;
}

div.folder-panel-button {
    margin-top: 12px;
    text-align: center;
}

/* MESSAGES PANEL */

div#messages-panel {
    position: relative;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
}

div.search-bar {
    width: 70%;
    height: 48px;
    display: inline-block;
}

span.search-bar-icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 16px;
    z-index: 2;
    color: #757575;
}

input.search-bar-input {
    width: 100%;
    height: inherit;
    padding-left: 35px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-style: italic;
    font-size: 18px;
    color: #757575;
    border: none;
}

div.messages-panel-sort {
    width: 25%;
    padding: 10px;
    display: inline-block;
    text-align: right;
}

div.search-button {
    width: 25%;
    display: inline-block;
    text-align: right;
}

div.search-button button {
    width: 100%;
    padding: 0px;
}

/* MESSAGES */

div.messages-panel-folder {
    border-bottom: 1px solid #bdbdbd;
    text-align: center;
    padding: 3px 0px;
    font-size: 18px;
    font-weight: bold;
    color: #009688;
}

div.messages-panel-list {
    width: 100%;
    height: 100%;
    overflow: auto;
    border-top: 1px solid #bdbdbd;
    padding-bottom: 48px;
}

div.message-preview {
    overflow: hidden;
    margin-top: -12px;
    padding: 10px;
    border-bottom: 1px solid #bdbdbd;
    height: 100px;
}

div.message-preview:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

span.message-preview-select {
    position: relative;
    top: 15px;
    right: -95%;
}

span.message-preview-date {
    float: right;
    padding-right: 30px;
    color: #757575;
    font-size: 12px;
}

span.message-preview-name {
    float: left;
    color: #455A64;
    font-size: 20px;
}

span.message-preview-flagged {
    padding-left: 6px;
    color: #bdbdbd;
}

span.message-preview-subject {
    display: block;
    clear: both;
    color: #212121;
    font-size: 16px;
}

span.message-preview-content {
    display: block;
    clear: both;
    color: #bdbdbd;
    font-size: 12px;
    font-weight: 300;
}


/* CONTENT PANEL */

div#content-panel {
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 100%;
    background-color: #ffffff;
}

div.content-message-header {
    height: 50px;
    margin: 12px;
    border-bottom: 1px solid #bdbdbd;
}

div.content-message-subject {
    font-size: 24px;
    color: #455A64;
}

i.content-panel-icon {
    padding: 15px 5px;
    color: #009688;
}

i.content-panel-icon:hover {
    color: #00796B;
}

i.content-panel-icon:active {
    color: #00695d;
}

div.content-message-container {
    margin: 12px;
    height: 100%;
    overflow: auto;
    padding-bottom: 100px;
}

div.content-message-sender {
    font-size: 20px;
    color: #607D8B;
}

span.content-message-sender-email {
    font-size: 16px;
    line-height: 16px;
    color: #bdbdbd;
}

div.content-message-email {
    padding: 3px 0px;
    display: block;
    clear: both;
    color: #757575;
}

div.content-message-date {
    color: #757575;
    font-weight: 300;
}

div.content-message-content {
    padding: 24px 0px;
    color: #212121;
}

div.content-message-content p {
    margin-bottom: 24px;
}

/* COMPOSE MESSAGE */

div.compose-message-header {
    height: 50px;
    margin: 12px;
    border-bottom: 1px solid #bdbdbd;
}

div.compose-title {
    font-size: 28px;
    color: #455A64;
}

span.compose-close {
    color: #009688;
}

div#content-panel-compose {
    height: 100%;
    overflow: auto;
}

div.compose-section {
    display: flex;
    margin: 5px 12px;
    padding: 10px;
    border-bottom: 1px dashed #bdbdbd;
}

label.compose-label {
    font-size: 16px;
    color: #757575;
}

input.compose-input {
    flex: 2;
    width: 100%;
    height: inherit;
    padding-left: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #757575;
    border: none;
}

textarea.compose-textarea {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #212121;
    border: none;
}

div.compose-error {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    padding: 6px;
    color: #009688;
}

.unread {
    font-weight: bold;
}
