body {
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #212121;
}

.left {
    float: left;
}

.right {
    float: right;
}

button {
    width: 150px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: #ffffff;
    font-size: 16px;
    background-color: #ff4081;
    text-transform: uppercase;
}

button:hover {
    background-color: #e83874;
}

button:active {
    background-color: #de366f;
}

button:focus {
    outline: none;
}

/* FOLDER PANEL */

#folder-panel {
    position: relative;
    padding: 10px;
    color: #D1C4E9;
    background-color: #673AB7;
    height: 100%;
}

/* FOLDER PANEL ICONS */

.folder-panel-icons {
    height: 50px;
    text-align: right;
}

.folder-panel-icon {
    font-size: 32px;
    padding: 15px 5px;
    color: #ffffff;
}

.folder-panel-icon:hover {
    color: #ff4081;
}

.folder-panel-icon:active{
    color: #e83874;
}

/* FOLDER PANEL LISTS */

.folder-panel-list-title {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    text-transform: uppercase;
}

.folder-panel-list-items {
    margin-left: 25px;
    padding-right: 10px;
}

.folder-panel-list-item {
    padding: 2px 0px;
}

.folder-panel-button {
    text-align: center;
}

/* MESSAGES PANEL */

#messages-panel {
    position: relative;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
}

.search-bar {
    width: 70%;
    height: 48px;
    display: inline-block;
}

.search-bar-input {
    width: 100%;
    height: inherit;
    padding-left: 35px;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-style: italic;
    font-size: 22px;
    color: #757575;
    border: none;
}

.search-bar-icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 16px;
    z-index: 2;
    color: #757575;
}

.messages-panel-sort {
    width: 25%;
    padding: 10px;
    display: inline-block;
    text-align: right;
}

/* MESSAGES */

.messages-panel-list {
    width: 100%;
    height: 100%;
    overflow: auto;
    border-top: 1px solid #bdbdbd;
    padding-bottom: 48px;
}

.message-preview {
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #bdbdbd;
    height: 100px;
}

.message-preview-date {
    float: right;
    padding-right: 30px;
    color: #757575;
    font-size: 12px;
}

.message-preview-name {
    display: block;
    color: #512DA8;
    font-size: 20px;
}

.message-preview-subject {
    display:block;
    color: #212121;
    font-size: 16px;
}

.message-preview-content {
    color: #bdbdbd;
    font-size: 12px;
    font-weight: 300;
}


/* CONTENT PANEL */

#content-panel {
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 100%;
    background-color: #ffffff;
}

.content-message-header {
    height: 50px;
    margin: 12px;
    border-bottom: 1px solid #bdbdbd;
}

.content-message-subject {
    font-size: 28px;
    color: #512DA8;
}

.content-panel-icon {
    font-size: 32px;
    padding: 15px 5px;
    color: #ff4081;
}

.content-panel-icon:hover {
    color: #e83874;
}

.content-panel-icon:active {
    color: #de366f;
}

.content-message-container {
    margin: 12px;
    height: 100%;
    overflow: auto;
    padding-bottom: 100px;
}

.content-message-sender {
    font-size: 24px;
    color: #673AB7;
}

.content-message-sender-email {
    font-size: 16px;
    line-height: 16px;
    color: #bdbdbd;
}

.content-message-email {
    padding: 3px 0px;
    display: block;
    clear: both;
    color: #757575;
}

.content-message-date {
    color: #757575;
    font-weight: 300;
}

.content-message-content {
    padding: 24px 0px;
    color: #212121;
}

.content-message-content p {
    margin-bottom: 24px;
}
